<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <div class="card mt-4">
      <div class="card-body">
        <h2 class="text-center">プロフィール設定</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="mt-3">
            <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "お名前", class: "form-control" %>
          </div>

          <div class="mt-3">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-control" %>
          </div>

          <div class="mt-3">
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード(変更しない場合はからのままで)", class: "form-control" %>
          </div>

          <div class="mt-3">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード確認", class: "form-control" %>
          </div>


          <div class="mt-3 text-center">
            <%= f.submit "更新する", class: "btn btn-primary" %>
            <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当によろしいですか？" }, method: :delete, class: "btn btn-danger" %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>